<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.suhaili.camera_plugin">
  <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <application>
          <activity android:name=".CameraActivity"
              android:exported="false"
              android:theme="@style/Theme.AppCompat.Light.NoActionBar">
          </activity>
    </application>
</manifest>
